@use "styles/partials/colors.module.scss" as colors;

.carousel {
    :global(.carousel-slider) {
        padding-bottom: 40px;
    }

    .slider-container {
        display: flex;
        justify-content: space-between;
        padding: 16px 0;
    }

    %arrow {
        border-radius: 50%;
        padding: 5px;
        position: absolute;
        top: calc(50% - 32px);
        z-index: 2;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: colors.$secondary-color;
        text-align: center;

        svg {
            position: absolute;
            top: 6px;
            left: 6px;
            font-size: 18px;
        }
    }

    .arrrow-left {
        @extend %arrow;

        left: 2px;
    }

    .arrrow-right {
        @extend %arrow;

        right: 2px;
    }

    :global(.slide) {
        padding: 0 48px;
    }

    :global .control-dots {
        :global(.dot) {
            width: 12px;
            height: 12px;
            box-shadow: none;
            opacity: 1;
            background-color: colors.$divider-color;
            margin: 0 4px;

            &.selected {
                background-color: colors.$gold;
            }
        }
    }
}
