$base-font-size: 16px;
$min-device-width: 320px;
$header-z-index: 10;

$header-min-height: 56px;
$header-big-height: 115px;

$mobile-height: 528px;
$desktop-height: 680px;
$desktop-height-extended: 780px;

$default-box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 12%), 0 1px 3px rgb(0 0 0 / 20%);
$secondary-box-shadow: 0 1px 1px rgba(0 0 0 / 10%), 0 2px 2px rgba(0 0 0 / 10%);
